[submodule "extern/betaflight"]
	path = extern/betaflight
	url = https://github.com/AJ92/betaflight.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/libwebsockets"]
	path = extern/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
